* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 3rem 1rem;

    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 720px;
        height: 100%;
        padding: 2rem 1rem;
        
        background-color: #f9f9f9b4;
        border-radius: 0.5rem;

        backdrop-filter: blur(15px);
        
    }

    
}

#headerTasks{
    width: 100%;
    padding: 0.5rem 0rem;
    border-bottom: 2px solid #c1c1c1;

    display: flex;
    justify-content: space-between;
    h1{
        flex:5
    }
    button{
        flex: 1;
        cursor: pointer;
        border-radius: 0.3rem;
        border: 1px solid #c1c1c1;
        background-color: #ff5252;
        font-size: 12px;
        font-weight: 600;
        color: #1c1c1c;

        transition: 0.3s;
        &:hover{
            background-color: #1c1c1c;
            color: #f9f9f9;
        }
    }
}
#inputTasks{
    width: 100%;
    display: flex;
    gap: 0.3rem;
    input{
        padding: 0.5rem 1rem;
        flex: 4;
        border-radius: 0.3rem;
        outline: none;
        border: 1px solid #c1c1c1;
    }
    button{
        flex: 1;
        cursor: pointer;
        border-radius: 0.3rem;
        border: 1px solid #c1c1c1;

        font-size: 16px;
        font-weight: 500;
        
        transition: 0.3s;
        
    }
}

#tasks,#tasksConcluidas{

    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.2rem;
    div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #f9f9f9;
        
        
        gap: 0.3rem;

        span,button{
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
        }
        span{
            flex: 4;
            
        }
        button{
            flex: 1;
            cursor: pointer;
            border-radius: 0.3rem;
            border: 1px solid #c1c1c1;
            

            font-size: 12px;
            font-weight: 600;
            

            transition: 0.3s;
            &:hover{
                background-color: #1c1c1c;
                color: #f9f9f9;
            }
            
        }
    }
}

#containerForm{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background-color: #f9f9f9b4;
    border-radius: 0.4rem;
    h1{
        margin: 1rem 0rem;
    }
    div{
        display: flex;
        flex-direction: column;

        
    }
    input,button{
        padding: 0.5rem 1rem;
    }
    input{
        border-radius: 0.3rem;
        outline: none;
        border: 1px solid #c1c1c1;
    }
    button{
        flex: 1;
        cursor: pointer;
        border-radius: 0.3rem;
        border: 1px solid #c1c1c1;
        

        font-size: 12px;
        font-weight: 600;
        

        transition: 0.3s;
        
        
    }
}

.btn-ok{
    background-color: #5ad786 ;
    color: #f9f9f9 ;

    &:hover{
        background-color: #5ad786;
        color: #f9f9f9;
    }
}
.btn-default{
    background-color: #f9f9f9;
    color: #1c1c1c ;

    &:hover{
        background-color: #1c1c1c;
        color: #f9f9f9;
    }
}
.btn-warn{
    background-color: #ff5252;
    color: #1c1c1c;

    &:hover{
        background-color: #1c1c1c;
        color: #f9f9f9;
    }

}
#concluidos{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
    div{
        background-color: #5ad786;

        p{
            font-size: 16px;
            font-style: italic;
            text-decoration: line-through;
            padding: 0.4rem 1rem;
            font-weight: 600;
            color: #1c1c1c;
        }
    }
    h3{
        margin: 0.4rem 0;
        width: 100%;
        border-bottom: 1px solid #5ad786;
        padding: 0.2rem 0;
    }
}


.error {
    color: #ff5252;
    font-size: 12px;
    margin: 0rem 0.4rem
}




.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}



@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}